<div class="swiper-container">
    <div class="swiper-wrapper">
      <div *ngFor="let room of rooms" class="swiper-slide">
        <div class="card">
          <img [src]="'assets/images/' + room.image" [alt]="room.name" />
          <h3>{{ room.roomNumber }}</h3>
          <p>{{ room.description }}</p>
          <div class="footer">
            <p class="price">{{ room.pricePerNight }}</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="swiper-pagination"></div>
  </div>