@import '~swiper/swiper-bundle.min.css';

.swiper-container {
    position: absolute;
    height: 50vh;
    width: 94.5%;
    overflow: hidden;
  }
.swiper-wrapper{
    width: 70%;
}
.card {
    background-color: #393e46;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 15px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    min-height: 80%;
    margin-top: 1rem;
  }
  .inner-border {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 1px solid hsla(28, 100%, 35%, 0.382);
    border-radius: 8px;
}
  .card-header {
    background-color:hsla(28, 100%, 35%, 0.382) ;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-header h3 {
    color: hsl(28, 100%, 35%);
    font-size: 20px;
    
  }
  .card-body{
    padding: 15px;
  }
  .card-body p {
    color: #fff;
    font-size: 12px;
    margin-top: 0;
  }

  .card img {
    border-radius: 10px 10px 0 0;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    width: 100%;
  }
  
  .footer{
    position: absolute;
    bottom: 5px;
    right: 25px;
  }
  
  
  