<div class="swiper-container">
    <div class="swiper-wrapper">
      <div *ngFor="let room of rooms" class="swiper-slide">
        <div *ngIf="room.properties.IsAvailable" class="card">
          <div class="inner-border"></div>
            <img [src]="room.properties.Images[0].properties.Url" alt="Room image" />
            <div class="card-header">
              <h3>{{ room.properties.RoomNumber }}</h3>
            </div>
            <div class="card-body">
              <p>{{ room.properties.Description }}</p>
              <p>
                {{ room.properties.Capacity }}
                <fa-icon [icon]="faUser"></fa-icon>
              </p>

            </div>
            <div class="footer">
              <p class="price">{{ room.properties.PricePerNight }} euro/<fa-icon [icon]="faUser"></fa-icon></p>
            </div>
          </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>