.overlay{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}

.wrapper{
    position: absolute;
    top: 50%;
    translate: 150% -50%;
    width: 35rem;
    height: 25rem;
    background-color: black;
    opacity: 60%;
    
}