<div class="navbar">
    <div class="nav-menu">
        <div class="link home">
            <div class="nav-button">
                <img class="button-img" src="../../assets/nav_icons/home.png" alt="home-icon">
                <p class="button-title">Home</p>
            </div>
        </div>
        <div class="link gallery">
            <div class="nav-button">
                <img class="button-img" src="../../assets/nav_icons/gallery2.png" alt="gallery-icon">
                <p class="button-title">Gallery</p>
            </div>
        </div>
        <div class="link calendar">
            <div class="nav-button">
                <img class="button-img" src="../../assets/nav_icons/book.png" alt="book-icon">
                <p class="button-title">Book</p>
            </div>
        </div>
        <div class="link contact">
            <div class="nav-button">
                <img class="button-img" src="../../assets/nav_icons/contact.png" alt="contact-icon">
                <p class="button-title">Contact</p>
            </div>
        </div>
        <div class="link support">
            <div class="nav-button">
                <img class="button-img" src="../../assets/nav_icons/support.png" alt="support-icon">
                <p class="button-title">Support</p>
            </div>
        </div>
    </div>
</div>