@import '~swiper/swiper-bundle.min.css';

.swiper-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
  }
.swiper-wrapper{
    width: 85%;
}
.card {
    box-shadow: inset 6px 6px 12px #6ab6ed45,
    inset -6px -6px 12px #ffffff;
    background-color: white;
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 5px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    height: 32vh;
    margin-top: 1rem;
    border-radius: 25px;
  }

  .card-header {
    max-height: 40px;
    display: flexbox;
  }

  .card-header h1 {
    position: absolute;
    margin-top: 3px;
    margin-left: 0.5rem;
    display: inline;
    color: black;
    font-size: 20px;
  }
  .card-header p {
    display: inline;
    float: right;
    color: black;
    font-size: 12px;
    margin-top: 9px;
  }
  .card-body{
    padding-left: 0.5rem;
  }
  .card-body p {
    color: black;
    font-size: 12px;
    margin-top: 0;
  }

  .card img {
    border-radius: 22px;
    height: auto;
    max-height: 180px;
    object-fit: cover;
    width: 100%;
  }
  
  .footer{
    position: absolute;
    bottom: 2px;
    left: 0.8rem;
  }
  
  .footer p {
    color: black;
    font-size: 12px;
    margin-top: 0;
  }
  .checkin-button{
    background-image: linear-gradient(to right, hsla(220, 97%, 65%, 0.991), hsla(220, 96%, 82%, 0.991));
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
    min-width: 33.5vh;
    height: 30px;
    margin-bottom: 0.5rem;
   }
  
  