<div class="intro-section" [ngStyle]="{'background-image': 'url(' + imageUrls[currentImageIndex] + ')'}">
    <div class="overlay"></div>
    <div class="content">
      <h1>Dobó Farmstead Retreat</h1>
      <p>With over 10 years of experience, Dobó Farmstead Retreat is situated in southern Hungary near the Serbian border. We accommodate various guests, from travelers and nature lovers to party seekers. Our goal is to ensure comfort and memorable experiences. Discover our charming accommodation and the beautiful surroundings today!</p>
    </div>
    <div class="scroll-down-arrow">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>