<div class="background"></div>
<div class="component-wrapper animate-slide-up">
    <div class="images-content">

    </div>
    <div class="slide-zone">
        <app-home-slide-cards></app-home-slide-cards>
    </div>
    <div class="reservation-check">
        <div class="reservation-wrapper">
            <div class="form-icon">
                <fa-icon [icon]="faBook"></fa-icon>
            </div>
            <div class="form-body">
                <div class="form-wrapper">
                    <div class="form-header">
                        <h1>Reservation ID</h1>
                        <fa-icon [icon]="faCircleInfo"></fa-icon>
                    </div>
                    <div class="form-footer">
                        <form class="reservation-form">
                            <div class="input-wrapper">
                                <input type="text" name="reservation_id" placeholder="   type.." class="reservation-input" />
                            </div>
                            <button type="submit" class="check-btn">Check</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

