<section class="service-section">
    <div class="row" *ngFor="let section of sections; let i = index">
      <div class="col-md-6 text-content" [class.order-md-2]="i % 2 === 1">
        <h2>{{ section.title }}</h2>
        <p>{{ section.description }}</p>
        <button (click)="navigateToBooking()">{{ section.buttonText }}</button>
      </div>
      <div class="col-md-6 image-content">
        <div class="images-container">
          <img *ngFor="let image of section.images" [src]="image" alt="" />
        </div>
      </div>
    </div>
  </section>